<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3>About Realbond</h3>
    <hr>
    <h3>What?</h3>
    <p>
      Realbond is a social networking app built using Ruby on Rails. It's free &amp; completely open source.
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      I am not building the next Facebook.
    </p>
    <br>
    <h3>How?</h3>
    <p>
      As stated above it's a Ruby on Rails application.
    </p>
    <br>
    <a href="#" class="btn btn-warning">
      <%= fa_icon 'wpforms' %> credit
    </a>
    <a href="#" class="btn btn-primary">
      <%= fa_icon 'info-circle' %> more info
    </a>
  </div>
</div>